.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.input_container{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input{
  margin-top: 10px;
  height: 50px;
  font-family: inherit;
  font-size: inherit;
  border-radius: 10px;
  box-shadow: none;
  outline: none;
  border: 1px solid deepskyblue;
  padding: 0 10px;
}

.results{
  margin: 0 auto;
  width: 50%
}

.results_item{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px;
  background-color: deepskyblue;
  margin-top: 10px;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
}

.button{
  border-radius: 10px;
  width: 50%;
  height: 50px;
  background: none;
	color: white;
  border: none;

	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  background-color: #3093c7;
  background-image: linear-gradient(to bottom, #3093c7, #1c5a85);
  margin-top: 10px;
}

.header{
  color: deepskyblue;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  margin-top: 10px;
}